__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.DS_Store

data/*
!data/.gitkeep
!data/sample/
!data/sample/.gitkeep
outputs/*
!outputs/.gitkeep
!outputs/siamese_demo/
outputs/siamese_demo/*
!outputs/siamese_demo/siamese_report.json
!outputs/yolo_demo/
outputs/yolo_demo/*
!outputs/yolo_demo/predict/
outputs/yolo_demo/predict/*
!outputs/yolo_demo/predict/*.jpg
!outputs/yoloe_demo/
outputs/yoloe_demo/*
!outputs/yoloe_demo/predict/
outputs/yoloe_demo/predict/*
!outputs/yoloe_demo/predict/*.jpg

*.pt
*.pdparams
mobileclip_blt.ts
